<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ComingUpRndr.Properties.Settings.DB_BazaarConnectionString"
      connectionString="Data Source=192.168.10.42;Initial Catalog=DB_Bazaar;User ID=8668;Password=09112064568"
      providerName="System.Data.SqlClient" />
    <add name="ComingUpRndr.Properties.Settings.PARCHConnectionString"
      connectionString="Data Source=192.168.10.41;Initial Catalog=PARCH;Persist Security Info=True;User ID=8668;Password=09112064568"
      providerName="System.Data.SqlClient" />
    <add name="ComingUpRndr.Properties.Settings.ARCHIVEConnectionString"
      connectionString="Data Source=192.168.10.41;Initial Catalog=ARCHIVE;Persist Security Info=True;User ID=8668;Password=09112064568"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CC\Support Files\"/>
    <add key="AeProjectPathSad" value=""/>
    <add key="AeProjectPath" value="E:\AeProject\ComingUpNew\ComingUp.aep"/>
    <add key="AeComposition" value="01- Elam Barnameh"/>
    <add key="OutputPath" value="\\192.168.10.32\playout$\"/>
    <add key="OutputFilePrefix" value="ComingUp"/>
    <add key="OutputFolderName" value="ComingUp"/>
    <add key="xml" value="E:\AeProject\ComingUpNew\Data.xml"/>
    <add key="VideoFootage" value="E:\AeProject\ComingUpNew\(Footage)\TV\"/>
    <add key="VideoRepository" value="E:\AeProject\ComingUpNew\VideoRepository\"/>
    <add key="Arm1Q" value="E:\Queue\Arm1\"/>
    <add key="Arm2Q" value="E:\AeProject\ComingUpNew\VideoRepository\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
